

@{
    ViewBag.Title = "Home Page";
}


    <link href="~/CSS/Inicio.css" rel="stylesheet" />

@{
    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-warning">@ViewBag.Message</div>
    }
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="container">

        <form action="/Home/Login" method="post">

            <div class="form-group">

                <label>Ingresa su correo: </label>
                <input type="text" name="correo_usuario" value="" />
            </div>
            <div class="form-group">

                <label>Ingrese su contraseña: </label>
                <input type="password" name="contraseña_usuario" value="" />
            </div>


            <div class="form-group">
                <button>Iniciar sesion</button>
            </div>
        </form>
      
    </div>

} 

<!--Nombre del Usuario Actual-->
 <p id="usuario">Bienvenido/a, <br> @User.Identity.Name </p>