

@{
    ViewBag.Title = "Home Page";
}


@{
    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-warning">@ViewBag.Message</div>
    }
}

@if(User.Identity.IsAuthenticated)
{
    <link href="~/CSS/Inicio.css" rel="stylesheet" />
    <!--Nombre del Usuario Actual-->
    <p id="usuario">Bienvenido/a, <br> @User.Identity.Name </p>

}