@{
    ViewBag.Title = "Home Page";
}






@{
    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-warning">@ViewBag.Message</div>
    }
}

@if (!User.Identity.IsAuthenticated)
{
<div class="container">

    <form action="/Home/Login" method="post">

        <div class="form-group">

            <label>Ingresa tu correo</label>
            <input type="text" name="correo_usuario" value="" />
        </div>
        <div class="form-group">

            <label>Ingresa tu contraseña</label>
            <input type="password" name="contraseña_usuario" value="" />
        </div>


        <div class="form-group">
            <button>Log in</button>
        </div>
    </form>
    <p >@Html.ActionLink("Registrar", "Create", "Usuarios")</p>
</div>

}